<div class="d-flex flex-column">
    <a class="btn btn-primary my-5" href="/create">Create</a>
    <% data.forEach(element=> {
        %>
        <a class="m-auto mb-4 d-flex w-100 link" style="color: #000; text-decoration: none;"
            href="/view/<%=element._id%>">
            <img class="w-25 me-5" src="/app/images/<%=element._id + '/' + element.fileCover %>" />
            <div class="col p-5" style="height: fit-content;">
                <div class="row">Title: <%- element.title %></div>
                <div class="row">Description: <%- element.description %></div>
                <div class="row">Authors: <%- element.authors %></div>
            </div>
        </a>
        <% }) %>
</div>